// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// See https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss

// Colours

// Uncomment and customise as required
// $brand-primary:             #f7df1e;

// Options

$enable-flex:               true;
$enable-rounded:            false;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;

// Typography

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base:       $font-family-sans-serif;
